@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/roboto.woff2') format('woff2'),
         url('./assets/fonts/roboto.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}
*
{
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f9fafb;
    overflow: hidden;
}